name: .NET

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    env:
      ProjectName: LaundryDuty
      TargetPlatform: win-x64

    runs-on: windows-latest

    steps:
    - name: Clone
      uses: actions/checkout@v4

    - name: Initialize test reporting
      uses: testspace-com/setup-testspace@v1
      with:
        domain: ${{ github.repository_owner }}

    - name: Restore
      run: dotnet restore --locked-mode

    - name: Build
      run: dotnet build --no-restore --configuration Release --no-self-contained

    - name: Publish
      run: dotnet publish ${{ env.ProjectName }} --no-build --configuration Release -p:PublishSingleFile=true --runtime ${{ env.TargetPlatform }} --no-self-contained
      
    - name: Test
      run: |
        dotnet test --no-build --configuration Release --collect:"XPlat Code Coverage" --settings Tests/Tests.runsettings --logger "trx;LogFileName=TestResults.xml"
        Out-File -InputObject "TEST_EXIT_CODE=$LASTEXITCODE" -FilePath $env:GITHUB_ENV -Append -Encoding UTF8 
        Copy-Item Tests/TestResults/*/coverage.info Tests/TestResults -ErrorAction Continue
        exit 0

    - name: Upload test report
      run: testspace Tests/TestResults/TestResults.xml

    - name: Upload coverage
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: Tests/TestResults/coverage.info
        format: lcov

    - name: Stop if tests failed
      run: exit $env:TEST_EXIT_CODE

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ProjectName }}
        path: |
          ${{ env.ProjectName }}\bin\Release\net8.0-windows\${{ env.TargetPlatform }}\publish\*.exe
          ${{ env.ProjectName }}\bin\Release\net8.0-windows\${{ env.TargetPlatform }}\publish\appsettings.json
          ${{ env.ProjectName }}\bin\Release\net8.0-windows\${{ env.TargetPlatform }}\publish\Install service.ps1
        if-no-files-found: error
